@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');



#root {
  margin: 0 auto;
  text-align: center;
  font-family: sans-serif;
  padding: 2rem;
}

svg{
  cursor: pointer;
}

#sun {
  display: none;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
